<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>

    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.table2excel.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href='http://8.210.131.209:3000/bigemap.js/v2.1.0/bigemap.css' rel='stylesheet'/>
    <script src='http://8.210.131.209:3000/bigemap.js/v2.1.0/bigemap.js'></script>
    <link rel='stylesheet' href='/static/css/bigemap.css'/>
    <script src='/static/js/FileSaver.js'></script>

    <title>GMS Foreign Trade System</title>
</head>
<body>

<div id="main_content">
    <!-- 导航 -->
    <header>
        <nav class="navbar navbar-inverse" style="z-index: 10">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a target="_blank" href="http://sstrade.net/"><img src="/static/img/blogo.png"
                                                                       style="width: 130px;padding-top: 4px;"></a>
                    {#                    <a class="navbar-brand" target="_blank"  href="http://sstrade.net/">晟时科技</a>#}

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-">
                        <li><a id="export_email" href="#">Export Email</a></li>
                        <li><a href="/query_from_db/" target="_blank">Query Database</a></li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">User:</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">{{ request.session.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {#            <li><a href="#">Action</a></li>#}

                                {#            <li role="separator" class="divider"></li>#}
                                <li><a href="/logout/">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>

    <!-- map -->
    <div class="container" style="width: 100%;">
        <div class="row">
            {#            <div style="height: 552px;position: relative;z-index: 8">#}
            <div class="mapbox">
                <div id='map'></div>
                <div class="mapfixd">
                    <div class="mapserch">
                        <!-- 搜索 -->
                        <div id="info" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <button id="search_button2" class="btn btn-primary search—btn">Nearby query</button>
                            <button style="display: none" id="search_button" class="btn btn-info search—btn">
                                Specific inquiry
                            </button>
                            <input type="text" id="pac-input" placeholder="Please input keyword">
                            <select id="select_meter">
                                <option value="100">100m</option>
                                <option value="500">500m</option>
                                <option value="1000">1km</option>
                                <option value="5000">5km</option>
                                <option value="10000">10km</option>
                                <option selected value="50000">50km</option>
                            </select>
                            <div id="result">

                            </div>
                        </div>
                        <!-- 按钮 -->
                        <div class="weixing col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <p class="tool">
                                <a id="street" class="btn btn-warning" href="javascript:void (0);">Electronic map</a>
                                <a id="satellite" class="btn btn-danger" href="javascript:void (0);">Satellite map</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <div class="tablebox">
        <table class="table table-bordered box1" style="z-index: 6; background-color: white;">
            <thead>
            <th style="width: 40px"><input type="checkbox"></th>
            <th>Company</th>
            <th>Website</th>
            <th>Email</th>
            <th>Country</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Facebook</th>
            <th>Youtube</th>
            <th>Twitter</th>
            <th>Keyword</th>
            <th style="width: 160px" class="searchTh">
                <button id="search_detail" class="btn btn-default" type="button">Search √</button>
                <button id="delete_data" class="btn btn-default" type="button">Delete</button>
            </th>
            </thead>
        </table>

        <table class="table table-bordered box2" style="z-index: 1;position: relative;">
            <tbody id="table_content">

            </tbody>
        </table>
    </div>

    <div id="pro_bar" style="display:none;width: 100px;z-index: 10;position: fixed;top: 18px;left: 46%">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
            </div>
        </div>
    </div>
    </div>
<script>

    //软件配置信息地址
    BM.Config.HTTP_URL = 'http://8.210.131.209:3000';
    // 在ID为map的元素中实例化一个地图，并设置地图的ID号为 bigemap.googlemap-streets，ID号程序自动生成，无需手动配置，并设置地图的投影为百度地图 ，中心点，默认的级别和显示级别控件
    var map = BM.map('map', 'bigemap.googlemap-streets', {
        center: [0, 0],
        zoom: 2,
        attributionControl: false,
        zoomControl: true,
        minZoom: 2
    });
    // 创建一个标记，添加到map中
    {#var corner1 = BM.latLng(-180, 90);#}
    {#var corner2 = BM.latLng(180, -90);#}
    {#var bounds = BM.latLngBounds(corner1, corner2);#}
    {#map.setMaxBounds(bounds)#}
    //BM.map('map', 'bigemap.googlemap-satellite', {center: [ 30,104], zoom: 3,attributionControl:false, zoomControl: true});
    var google_satellite = BM.tileLayer('bigemap.googlemap-satellite');
    var google_street = BM.tileLayer('bigemap.googlemap-streets');
    document.getElementById('satellite').addEventListener('click', function () {
        //先移除一个图层 ，再添加一个图层
        google_satellite.addTo(map);
        google_street.remove(map);
    });

    document.getElementById('street').addEventListener('click', function () {
        google_satellite.remove(map);
        google_street.addTo(map);
    });


    // 创建一个经纬度对象
    var latlng = BM.latLng(40, 116.5);
    var marker = BM.marker(latlng);
    marker.addTo(map);
    // 创建一个圆对象，指定位置和半径，并添加到map
    var circle = BM.circle(latlng, {radius: 50000})
    circle.addTo(map);
    map.panTo(latlng);
    BM.control.scale().addTo(map);

    map.on('click', function (e) {
        // 获取当前点击的坐标，设置标记和地图为点击位置。
        var position_temp = e.latlng;
        marker.setLatLng(position_temp);
        map.setView(position_temp);

        var radius = parseInt(document.getElementById('select_meter').value);
        circle.setRadius(radius);
        circle.setLatLng(position_temp);
    });
    map.on('moveend', function (e) {
        window.setTimeout(function () {
            var div_size_y = map.getSize().y
            var top_y = map.getPixelBounds().max.y
            var bottom_y = map.getPixelBounds().min.y
            var sw_positon = map.getBounds()._southWest
            var ne_postion = map.getBounds()._northEast
            var bottom_yy = map.latLngToContainerPoint(map.getBounds()._southWest).y
            console.log(div_size_y, top_y, bottom_y, top_y - bottom_y);
            var flag = (top_y < div_size_y || bottom_yy < div_size_y);
            if (flag) {
                console.log(11111111111);
                map.flyTo(marker.getLatLng())
            }
        }, 2)
        // 获取当前点击的坐标，设置标记和地图为点击位置。
    });


    marker.on('click', function (e) {
        window.setTimeout(function () {
            map.setZoom(8);
            map.panTo(marker.getLatLng())
        }, 500)
    });


    marker.on('move', function (e) {
        map.panTo(marker.getLatLng())
    })
    // 通过control将搜索框添加到map


</script>

<script>

    flag_search_all = false;
      query_num = 0;
      item_num = 0;
    /*
    *     $.ajaxSetup({

        async: false,

    });
    * */
    // 点击结果中的name，地图跳转！
    function click_aa(e) {
        var cur_dom = $(e);
        var lat = cur_dom.attr('lat');
        var lng = cur_dom.attr('lng');
        console.log('click aa')
        marker.setLatLng({lat: lat, lng: lng});
        // {#map.setZoom(6);#}
        map.panTo(marker.getLatLng())
        circle.setLatLng(marker.getLatLng())
    }
    function click_search_detail_pro(e) {
         var cur_dom = $(e);
           if (flag_search_all) {
                alert('Please wait until the search task is finished！！！')
            } else
                {
                flag_search_all = true
                var id_list = [];
                var id = cur_dom.parent().parent().attr('id')
                id_list.push(id)
                // 将id_list 变为json串
                var ids = JSON.stringify(id_list)
                var index = 0;
                $('.progress-bar').css('width', 0);
                $('#pro_bar').css('display', 'block')
                var t6 = window.setInterval(function () {
                    if (index < 100) {
                        index += 33;
                        s = String(index) + '%'
                        $('.progress-bar').css('width', s)
                    }
                    console.log(index)
                }, 1000)

                $.ajax({
                    url: '/search_detail_by_ids/?place_ids=' + ids,
                    type: 'get',
                    error:function(){
                        flag_search_all = false;
                         window.clearInterval(t6);
                        $('.progress-bar').css('width', '100%');
                        setTimeout(function () {
                            $('#pro_bar').css('display', 'none');
                        }, 500)

                    },
                    success: function (ret) {
                        flag_search_all = false;
                        window.clearInterval(t6);
                        $('.progress-bar').css('width', '100%');
                        setTimeout(function () {
                            $('#pro_bar').css('display', 'none');
                        }, 500)

                        // 将查询的详情信息放入页面中（将之前的tr删了，直接把新的替换过来）

                        if (ret.code == 1) {
                            var data = ret.data;
                            for (var i = 0; i < data.length; i++) {
                                var place_id = data[i].pid
                                var td_html = data[i].td_html
                                if (td_html) {
                                    // 根据place_id 找到之前的tr，然后替换为新的td_html
                                    var str_id = '#' + place_id;
                                    $(str_id).replaceWith(td_html)
                                } else {
                                    // td_html = ‘’ 说明详情页中包含中文，不要该结果！！
                                    var str_id = '#' + place_id;
                                    $(str_id).remove();
                                }
                            }
                            {#click_a();#}
                            // {#click_search_detail();#}
                            {#click_delete();#}
                        } else if (ret.code == -1) {
                            alert(ret.msg);
                        }
                        else {
                            var str_id = '#' + id;
                            $(str_id).remove()
                        }
                    }
                })
            }
    }
    function click_delete_pro(e) {
         var cur_dom = $(e);
         cur_dom.parent().parent().remove();
    }


    function click_a() {
        $('.search_result_name').click(function () {
            var lat = $(this).attr('lat');
            var lng = $(this).attr('lng');
            console.log('click aa')
            marker.setLatLng({lat: lat, lng: lng});
            // {#map.setZoom(6);#}
            map.panTo(marker.getLatLng())
            circle.setLatLng(marker.getLatLng())
        })
    }
    // 点击某一个具体的搜索详情
    function click_search_detail() {
        $('.search_detail_child').click(function () {
            if (flag_search_all) {
                alert('Please wait until the search task is finished！！！')
            } else
                {
                flag_search_all = true
                var id_list = [];
                var id = $(this).parent().parent().attr('id')
                id_list.push(id)
                // 将id_list 变为json串
                var ids = JSON.stringify(id_list)
                var index = 0;
                $('.progress-bar').css('width', 0);
                $('#pro_bar').css('display', 'block')
                var t6 = window.setInterval(function () {
                    if (index < 100) {
                        index += 33;
                        s = String(index) + '%'
                        $('.progress-bar').css('width', s)
                    }
                    console.log(index)
                }, 1000)

                $.ajax({
                    url: '/search_detail_by_ids/?place_ids=' + ids,
                    type: 'get',
                    error:function(){
                        flag_search_all = false;
                         window.clearInterval(t6);
                        $('.progress-bar').css('width', '100%');
                        setTimeout(function () {
                            $('#pro_bar').css('display', 'none');
                        }, 500)

                    },
                    success: function (ret) {
                        flag_search_all = false;
                        window.clearInterval(t6);
                        $('.progress-bar').css('width', '100%');
                        setTimeout(function () {
                            $('#pro_bar').css('display', 'none');
                        }, 500)

                        // 将查询的详情信息放入页面中（将之前的tr删了，直接把新的替换过来）

                        if (ret.code == 1) {
                            var data = ret.data;
                            for (var i = 0; i < data.length; i++) {
                                var place_id = data[i].pid
                                var td_html = data[i].td_html
                                if (td_html) {
                                    // 根据place_id 找到之前的tr，然后替换为新的td_html
                                    var str_id = '#' + place_id;
                                    $(str_id).replaceWith(td_html)
                                } else {
                                    // td_html = ‘’ 说明详情页中包含中文，不要该结果！！
                                    var str_id = '#' + place_id;
                                    $(str_id).remove();
                                }
                            }
                            {#click_a();#}
                            // {#click_search_detail();#}
                            {#click_delete();#}
                        }
               else if(ret.code==-1){
                                    alert(ret.msg);
                                }
            else {
                            var str_id = '#' + id;
                            $(str_id).remove()
                        }
                    }
                })
            }
        });
    }
    // 点击某一个具体的删除时
    function click_delete() {
        $('.delete_data_child').click(function () {
            $(this).parent().parent().remove();
        });
    }


    // 将后端拼接的html 放入当前页面！！
    function get_search_list(data_html) {
        $('#table_content').append(data_html);
        {#click_a();#}
        {#click_search_detail();#}
        {#click_delete();#}
    }

    function extra_search(word, current_lat, radius,current_lng) {
            flag_search_all = true
            var index = 0;
            $('.progress-bar').css('width', 0)
            $('#pro_bar').css('display', 'block')
            t4 = window.setInterval(function () {
                if (index < 100) {
                    index += 5;
                    s = String(index) + '%'
                    $('.progress-bar').css('width', s)
                }
                console.log(index)
            }, 1000)

            $.ajax({
                url: '/extra_search/',
                type: 'post',
                data: {
                    'word': word,
                    'radius': radius,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                    'lat': current_lat,
                    'lng': current_lng,
                },
                error: function () {

                    window.clearInterval(t4);
                    $('.progress-bar').css('width', '100%');
                    setTimeout(function () {
                        $('#pro_bar').css('display', 'none');
                    }, 0.5);
                    flag_search_all = false;
                    alert("服务器繁忙，请稍后重试！");
                }
                ,
                success: function (ret) {
                    window.clearInterval(t4);
                    $('.progress-bar').css('width', '100%');
                    setTimeout(function () {
                        $('#pro_bar').css('display', 'none');
                    }, 0.5);
                    flag_search_all = false
                    if (ret.status == 1) {
                        get_search_list(ret.data_final_html)
                    } else {
                        alert(ret.msg)
                    }
                }
            });
        }

    function listen(li,li_len){
        $('.progress-bar').css('width', 0);
        $('#pro_bar').css('display', 'block')
        console.log('this is listen')
        console.log(query_num)
        console.log(li_len)
        t2 = window.setInterval(function () {
            if (query_num < li_len)
            {
                //   i    /  l         index/i = 100/l    index = 100 * i / l
                //  index / 100
                var index = 100 * query_num / li_len
                if (index > 100)
                    index = 100;
                s = String(index) + '%'
                $('.progress-bar').css('width', s)
                console.log(s)
            }
            else {

                // 当全部tr的详情搜索完毕时，将flag设为false，将进度条去除。将计时器去除，添加点击定位坐标事件和删除tr事件

                $('#pro_bar').css('display', 'none');
                window.clearInterval(t2);
                flag_search_all = false;
                query_num = 0;
                console.log('设置为0000000000000000')
                // 将信息替换后，重新调用 几个button的点击事件，否则不生效！！
                {#click_a();#}
                {#click_delete();#}
            }
        }, 1000)
    }

    $(function () {

        // 选择范围
        $('#select_meter').change(function () {
            {#alert(1);#}
            var radius = parseInt($('#select_meter').val());
            {#circle.setCenter(marker.getPosition())#}
            circle.setRadius(radius);
        })
        // 精准搜索（已废弃）
        $('#search_button').click(function () {
            alert('正在进行精准搜索！')
            alert('请耐心等待，画面即将锁定！')
            {#var position = marker.getLatLng();#}
            {#var current_lat = position.lat;#}
            {#var current_lng = position.lng;#}
            var word = $('#pac-input').val();
            {#var radius = $('#select_meter').val();#}
            $.ajax({
                url: '/search_word/',
                type: 'post',
                data: {
                    'word': word,
                    'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                    {#'lat': current_lat,#}
                    {#'lng': current_lng,#}
                    {#'radius': radius,#}
                },
                success: function (ret) {
                    if (ret.status == 1) {
                        //搜索到具体位置了
                        var data = ret.data
                        var formatted_address = data.result.formatted_address
                        var formatted_phone_number = data.result.formatted_phone_number
                        var location = data.result.geometry.location;
                        var name = data.result.name;
                        alert('找到具体位置!');
                        console.log(location)

                        marker.setLatLng(location);
                        circle.setLatLng(location);
                        $('#table_content').append(ret.data_html);
                        {#click_a();#}
                        /*    } else if (ret.status == 0) {
                        alert('查询到附近相关结果');
                        var datas = ret.data.results;
                        var data_html = ret.data_final_html;
                        console.log(datas);
                        get_search_list(datas, data_html)*/

                    } else {
                        alert(ret.msg)
                    }
                }
            })
        });
        // 以当前坐标为中心，半径为radius 进行附近搜索。
        $('#search_button2').click(function () {
            if (flag_search_all) {
                alert('Some tasks are not finished. Please wait for the task to finish！')
            } else {
                var word = $('#pac-input').val();
                var pattern = new RegExp("[\u4E00-\u9FA5]+");
                if (pattern.test(word)) {
                    alert('Please don’t input Chinese！请输入非中文搜索关键字！')
                } else {
                    flag_search_all = true;
                    alert('Searching nearby！')
                    alert('Please be patient！')

                    var position = marker.getLatLng();
                    var current_lat = position.lat;
                    var current_lng = position.lng;

                    var radius = $('#select_meter').val();
                    var index = 0;
                    $('.progress-bar').css('width', 0)
                    $('#pro_bar').css('display', 'block')
                    t = window.setInterval(function () {
                        if (index < 100) {
                            index += 13;
                            s = String(index) + '%'
                            $('.progress-bar').css('width', s)
                        }
                        console.log(index)
                    }, 1000)

                    $.ajax({
                        url: '/search_word2/',
                        type: 'post',
                        data: {
                            'word': word,
                            'radius': radius,
                            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                            'lat': current_lat,
                            'lng': current_lng,
                        },
                        error: function () {
                            window.clearInterval(t);
                            $('.progress-bar').css('width', '100%');
                            setTimeout(function () {
                                $('#pro_bar').css('display', 'none');
                            }, 0.5);
                            flag_search_all = false;
                        },
                        success: function (ret) {
                            window.clearInterval(t);
                            $('.progress-bar').css('width', '100%');
                            setTimeout(function () {
                                $('#pro_bar').css('display', 'none');
                            }, 0.5);
                            flag_search_all = false
                            if (ret.status == 0) {
                                //var datas = ret.data.results;
                                get_search_list(ret.data_final_html);
                                window.setTimeout(function () {
                                    var flag = confirm('Query related results nearby, do you want to expand the search scope and continue to search?')
                                    if (flag) {
                                        if (flag_search_all) {
                                            alert('Some tasks are not finished. Please wait for the task to finish！')
                                        } else {
                                            extra_search(word, current_lat,radius, current_lng);
                                        }
                                    }
                                }, 2000)
                            }
                            else if(ret.status == -2){
                                alert("本月搜索量已达上限！")
                            }
                            else {
                                // 第一次就没搜到结果！！
                                var flag2 = confirm('No nearby related results are found. Do you want to expand the search scope？')
                                if (flag2) {
                                    if (flag_search_all) {
                                        alert('Some tasks are not finished. Please wait for the task to finish！')
                                    } else {
                                        extra_search(word, current_lat, radius,current_lng);
                                    }
                                }
                            }
                        }
                    });
                }
            }
        });

        // 搜索所有选中td 的详情信息！！
        $('#search_detail').click(function () {
            if (flag_search_all) {
                alert('Please wait for the search to complete！！！')
            } else {
                flag_search_all = true
                var li = $("input[class='data_td']:checked")
                var li_len = li.length;
                console.log(li_len)
                listen(li,li_len);

                item_num = 0;
                t_search = setInterval(function () {
                    console.log('this is t search')
                    if (item_num<li.length)
                    {
                        var id_list = [];
                        // 将每一个勾选状态的 placeid 放到一个列表中
                        var id = li.eq(item_num).parent().parent().attr('id');
                        id_list.push(id);
                        item_num++;
                        // 将id_list 变为json串
                        var ids = JSON.stringify(id_list)
                        {#var li_len = li.length; // 1个3 秒   一共  3 * l * x = 100  x = 100/5/l = 20/l    100/l#}
                        $.ajax({
                            url: '/search_detail_by_ids/?place_ids=' + ids,
                            type: 'get',
                            error:function(){
                                query_num++;
                                var str_id = '#' + id;
                                $(str_id).remove();
                            },
                            success: function (ret) {
                                query_num++;
                                if (ret.code == 1) {
                                    // 将查询的详情信息放入页面中（将之前的tr删了，直接把新的替换过来）
                                    var data = ret.data;
                                    for (var i = 0; i < data.length; i++) {
                                        var place_id = data[i].pid
                                        var td_html = data[i].td_html
                                        if (td_html) {
                                            // 根据place_id 找到之前的tr，然后替换为新的td_html
                                            var str_id = '#' + place_id;
                                            $(str_id).replaceWith(td_html)
                                        } else {
                                            var str_id = '#' + place_id;
                                            $(str_id).remove();
                                        }
                                    }
                                    // 将信息替换后，重新调用 几个button的点击事件，否则不生效！！
                                    //  click_a();
                                    // click_delete();
                                }
                                else if(ret.code==-1){
                                    alert(ret.msg);
                                }
                                else {
                                    var str_id = '#' + id;
                                    $(str_id).remove();
                                }
                            }
                        })
                    }
                    else{
                        clearInterval(t_search)
                    }
                },3000)
               {% comment %} for (var i = 0; i < li.length; i++) {
                    var id_list = [];
                    // 将每一个勾选状态的 placeid 放到一个列表中
                    var id = li.eq(i).parent().parent().attr('id')
                    id_list.push(id)
                    // 将id_list 变为json串
                    var ids = JSON.stringify(id_list)
                    {#var li_len = li.length; // 1个3 秒   一共  3 * l * x = 100  x = 100/5/l = 20/l    100/l#}
                    $.ajax({
                        url: '/search_detail_by_ids/?place_ids=' + ids,
                        type: 'get',
                        error:function(){
                            query_num++;
                            var str_id = '#' + id;
                            $(str_id).remove();
                        },
                        success: function (ret) {
                            query_num++;
                            if (ret.code == 1) {
                                // 将查询的详情信息放入页面中（将之前的tr删了，直接把新的替换过来）
                                var data = ret.data;
                                for (var i = 0; i < data.length; i++) {
                                    var place_id = data[i].pid
                                    var td_html = data[i].td_html
                                    if (td_html) {
                                        // 根据place_id 找到之前的tr，然后替换为新的td_html
                                        var str_id = '#' + place_id;
                                        $(str_id).replaceWith(td_html)
                                    } else {
                                        var str_id = '#' + place_id;
                                        $(str_id).remove();
                                    }
                                }
                                // 将信息替换后，重新调用 几个button的点击事件，否则不生效！！
                                //  click_a();
                                // click_delete();
                            } else {
                                var str_id = '#' + id;
                                $(str_id).remove();
                            }
                        }
                    })
                }{% endcomment %}
            }


        });
        // 删除所选的 搜索结果！！！
        $('#delete_data').click(function () {
            $("input[class='data_td']:checked").parent().parent().remove();
        });
        // 控制全选和全不选！！！
        $('th input:checkbox').change(function () {
            var e = $(this)[0].checked;
            if (e) {
                $('input:checkbox').prop('checked', true);
            } else {
                $('input:checkbox').prop('checked', false);
            }
        })

    })
</script>
<script>
    $(function () {
        $('#export_email').click(function () {
            var li = $("input[class='data_td']:checked")
            if (li.length == 0) {
                alert('Please check the valid email and export！！！')
            } else {
                var final_email_str = "";
                for (var i = 0; i < li.length; i++) {
                    var email_str = li.eq(i).parent().next().next().next().text()
                    if (email_str) {
                        var word = li.eq(i).parent().siblings().eq(-2).text();
                        var final_str = word + '|' + email_str.replace(/;/g, '\n' + word + '|') + '\n'
                        final_email_str += final_str;
                    }
                }
                {#var a = $(this)[0]#}
                {#a.href = 'data:attachment/csv,' + encodeURI(final_email_str);#}
                {#a.target = '_blank';#}
                {#a.download = 'email.csv';#}
                var exportContent = "\uFEFF";
                var blob = new Blob([exportContent + final_email_str], {type: "text/plain;charset=utf-8"});
                saveAs(blob, word + "_email.csv");
            }
        })
    })
    $(function () {
        $(".exportToExcel").click(function (e) {
            var table = $(this).prev('.table2excel');
            if (table && table.length) {
                var preserveColors = (table.hasClass('table2excel_with_colors') ? true : false);
                $(table).table2excel({
                    exclude: ".noExl",
                    name: "Excel Document Name",
                    filename: "myFileName" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
                    fileext: ".xls",
                    exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true,
                    preserveColors: preserveColors
                });
            }
        });

    });
</script>
</body>
</html>
